<router-outlet></router-outlet>
<mat-form-field>
  <mat-label>Input</mat-label>
  <input
    matInput
    placeholder="Enter weight"
    [(ngModel)]="searchInput"
    (ngModelChange)="onSearchTextChange($event)"
    required
  />
</mat-form-field>

<table
  mat-table
  [dataSource]="filteredTable$ | async"
  class="mat-elevation-z8 table-settings"
>
  @for (column of (tableColumns$ | async).table; track column.position) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
    <td mat-cell *matCellDef="let item">{{ item[column] }}</td>
  </ng-container>
  }
  <tr
    mat-header-row
    *matHeaderRowDef="(tableColumns$ | async).tableWithAction"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: (tableColumns$ | async).tableWithAction"
  ></tr>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let item">
      <button mat-button color="primary" (click)="edit(item)">
        <mat-icon> edit </mat-icon>
      </button>
    </td>
  </ng-container>
</table>
